@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
:root {
    --body-gray-ligth: #F9F9F9;
    --button-hover-ligth: #DD5353;
    --salmon-hover-ligth: #FF008E;
    --salmon-icons-skill-ligth: #F30067;
    --my-name-is: #FF4848;
    --text-color-ligth: #444444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-ligth);
    user-select: none;
}

body {
    background-color: var(--body-gray-ligth);
    font-family: sans-serif;
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
}
button {
    display: block;
    padding: 0.5rem;
    width: 7rem;
    letter-spacing: 1.5px;
    font-family: 'Rambla', sans-serif;
    background-color: var(--button-hover-ligth);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: var(--body-gray-ligth);
}

button:hover{
    scale: 1.1;
    transition: scale 0.5s;
}
.dark {
    --text-color-ligth: #646f8b;
    --button-hover-ligth:#64ffda;
    --salmon-hover-ligth:#64ffda;
    --body-gray-ligth:#0a192f;
}
.container {
    background-color: var(--body-gray-ligth);
    max-width: 350px;
    margin: auto;
    padding: 0.5rem;
}
.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Geostar Fill', cursive;
    letter-spacing: 2px;

}

.animation__title:hover{
    font-size: 30px;
    cursor: pointer;
    color: var(--salmon-hover-ligth);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
    height: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)

    
}

.body   {
    margin: 1rem 0;
}
.email {
    position: absolute;
    writing-mode: vertical-rl;
    transform: translateX(340px) translateY(700px);
    letter-spacing: 2px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}
.list_menu {

    background-color:var(--body-gray-ligth);
    position: fixed;
    z-index: 800;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.8s;
}
.list_menu_show {
    transform: translateX(0);
    transition: transform 0.8s;
}
.list_menu div {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.list_menu  ul{
    background-color: var(--body-gray-ligth);
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}
.list_menu a:hover{
    color: var(--salmon-hover-ligth);
    transition: color 0.5s;
}
.icon_close_ {
    cursor: pointer;
}
.photo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.photo > img {
    border-radius: 50%;
    margin-left: 0.9rem;
}
.photo > img:hover{
    transform: scale(1.1);
    animation: transform 0.5s;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

.projects > a {
    border: solid 1px var(--text-color-ligth);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Rambla', sans-serif;
    letter-spacing: 1.5px;
}

.projects > a:hover {
    background-color: var(--salmon-hover-ligth);
    color: var(--body-gray-ligth);
    transition: background-color 0.9s;
}
#banner > p {
    padding: 1rem;
    letter-spacing: 1.5px;
    font-family: 'Rambla', sans-serif;
    text-align: center;
    margin: 0.5rem;
}
#banner>span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    transform: translateY(-14px);
    color: var(--my-name-is);
}
#skills {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Rambla', sans-serif;
    letter-spacing: 1.5px;
   
}
#skills > div {
    border: solid 1px var(--text-color-ligth);
    display: flex;
    height: 5.5rem;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.25rem;
}
#skills *:hover {
    color: var(--salmon-hover-ligth);
}
#skills > div >i {
    font-size: 2rem;
    
}

#skills > div > i:hover {
    color: var(--salmon-hover-ligth);
    transition: color 0.5s;
    cursor: pointer;
}
#education {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0.5rem;
    gap: 2.5rem;
    text-align: center;
    font-family: 'Rambla', sans-serif;
    letter-spacing: 1.5px;
}
#education > div > img {
    display: block;
    border: solid 2px var(--text-color-ligth);
    border-radius: 50%;
}
#education > div > img:hover{
    transform: translateY(-8px);
    transition: transform 0.5s;
}
#education>div>p {
    display: block;
    margin: auto;


}

.contact {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.contact >div > a > i:hover {
    color: var(--salmon-icons-skill-ligth);
}
.magic {
    width: 51%;
}
.magic >p {
    font-family: 'DM Mono', monospace;
    overflow: hidden;
    border-right: .15em solid green;
    white-space: nowrap;
    margin: 0 auto;
    margin-right: 1rem;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(30, end),
        blink-caret .75s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}
@media (min-width: 800px) {
    .icon_menu {
        display: none !important;
    }
    .container {
        max-width: 950px;
        margin: 0 auto;
    }
    .email {
        /*transform: translateX(340px) translateY(700px);*/
        position: absolute;
        margin-left: 38rem;
        margin-top: -30rem;
    }
    #skills {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
    }
    #skills > div {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #education {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}